body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

#chart-container {
    width: 100%;
    max-width: 960px;
    height: auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-size: 14px;
}

#tooltip-graph {
    margin-top: 10px;
}

.tooltip, .permanent-tooltip {
    position: absolute;
    text-align: left;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-size: 12px; /* Smaller font for permanent tooltips */
}

.tooltip {
    opacity: 0;
    transition: opacity 0.5s;
}

.permanent-tooltip {
    opacity: 1;
    z-index: -1; /* Ensure permanent tooltips are behind the graphs */
}
